<!--

    /**
     * @author 周鹏
     * @最后修改日期 2019-05-11
     */

-->

<!--<title>岳阳市院士工作站申请表</title>-->


<script type="text/html" template>
    <link rel="stylesheet" href="{{layui.setter.base}}/style/apply/apply.css">
</script>
<style>
    select {
        width: 98%;
        height: 25px;
        margin: 5px 0 10px 0;
        padding: 2px;
        box-sizing: border-box;
    }
</style>

<div id="change-bg-area">
    <span data-tooltip="随机在护眼、日间等颜色之间切换背景" id="change-bg" >改变背景颜色</span>
    <input type="color" id="bg-color" value="#00FFFF">
</div>


<script>



</script>

<div id="all" style="width: 750px;" class="zp-workstation zp-workstation-modify">
    <div hidden id="project-brief">
        <blockquote class="layui-elem-quote" >
            <h3>该申请表的填写一共分为三部分</h3>
            <div>一、申报企业基本情况</div>
            <div>二、进入工作站院士基本情况（如有多位院士，可填写多次）</div>
            <div>三、进入工作站院士团队基本情况</div>
        </blockquote>
    </div>


    <h1 id="show-project-brief">岳阳市院士工作站(修改)</h1>
    <form class="layui-form" lay-filter="project-from">
        <div style="display: none;">
            <input type="text" name="p-id">
            <input type="text" name="apply-id">
        </div>
        <div id="part1">
            <div class="zp-title">
                <strong>
                    【一、申报企业基本情况】
                </strong>
            </div>
            <div style="text-align: center">
                <div style="text-align: right;margin-right: 15px;white-space: nowrap">
                    <span>院士工作站名称</span>
                    <input type="text" style="width: 600px;" readonly name="p-name" lay-verify="required">
                </div>
                <div>
                    <span class="c1">单位名称</span><input name="apply-firm_name" type="text" class="clong2 zp-input" lay-verify="required">
                    <span class="c1">法人代表</span><input name="apply-representative" type="text" class="c4 zp-input" lay-verify="required">
                </div>
                <div>
                    <span class="c1">地址</span><input name="apply-district" type="text" class="clong2 zp-input" lay-verify="required">
                    <span class="c1">邮编</span><input name="apply-postcode" type="number" class="c4 zp-input"  lay-verify="required">
                </div>
                <div>
                    <span class="c1">联系人</span><input name="apply-firm_contact" type="text" class="clong2 zp-input" lay-verify="required">
                    <span class="c1">职务</span><input name="apply-position" type="text" class="c4 zp-input" lay-verify="required">
                </div>
                <div>
                    <span class="c1">手机</span><input name="apply-firm_contact_number" type="number" class="clong2 zp-input" lay-verify="phone|required">
                    <span class="c1">电子邮件</span><input name="apply-email" type="text" class="c4 zp-input" lay-verify="required">
                </div>
                <div>
                    <span class="c1">电 话</span><input name="apply-phone" type="number" class="clong2 zp-input" lay-verify="required">
                    <span class="c1">传 真</span><input name="apply-firm_fax" type="text" class="c4 zp-input" lay-verify="required">
                </div>
                <div>
                    <span class="c1">员工总数</span><input name="apply-employee_count" type="number" class="clong2 zp-input" lay-verify="required">
                    <span class="c1">成立时间</span><input name="apply-setup_time" type="number" class="c4 zp-input lay-Date" lay-verify="required">
                </div>
                <div>
                    <span class="c1">单位资产</span><input name="apply-firm_assets" type="number" class="clong2 zp-input" lay-verify="required">
                    <span class="c1">所属行业</span><input name="apply-industry" type="text" class="c4 zp-input" lay-verify="required">
                </div>
                <div style="">
                    <span class="c1">单位网址</span><input name="apply-firm_website" type="text" class="clong2 zp-input"  lay-verify="required">
                    <span>
                        <span class="c1">计划类别</span>
                        <script type="text/html" template lay-url="/mytio/common/getChildrenClass?classname=院士工作站" >
                                <select id="classname" name="p-prj_type_id"  lay-ignore class="c4"  lay-verify="required">
                                    <option value=""></option>
                                    {{# layui.each(d.data, function(index, item){ }}
                                    <option value="{{ item.id }}">{{ item.classname }}</option>
                                    {{# }); }}
                                </select>
                        </script>
                    </span>
                </div>
            </div>

            <div>
                <h3 class="zp-bfinput" style="width: 100%;font-size: 16px;text-align: left;padding-left: 30px;margin-top: 10px;">单 位 简 介</h3>
                <textarea name="p-firm_introduction" id="" cols="30" rows="10"  lay-verify="required"></textarea>
            </div>

            <div>
                <h3 class="zp-bfinput" style="width: 100%;font-size: 16px;text-align: left;padding-left: 30px;margin-top: 10px;">主要业务领域</h3>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="radio" name="p-tech_area" lay-skin="primary"  title="信息与通信技术" value="信息与通信技术">
                        <input type="radio" name="p-tech_area" lay-skin="primary"  title="生物医药" value="生物医药">
                        <input type="radio" name="p-tech_area" lay-skin="primary" title="能源与环境" value="能源与环境">
                        <input type="radio" name="p-tech_area" lay-skin="primary" title="冶金" value="冶金">
                        <input type="radio" name="p-tech_area" lay-skin="primary" title="制造业" value="制造业">
                        <br>

                        <input type="radio"  name="p-tech_area" id="other-tech_area_radio" lay-skin="primary" title="其他" value="其他">
                        <input type="text" name="" placeholder="请输入" id="other-tech_area" style="display: none;" >
                    </div>
                </div>
            </div>

            <div>
                <h3 class="zp-bfinput" style="width: 100%;font-size: 16px;text-align: left;padding-left: 30px;margin-top: 10px;">建站目的及需要解决的重点问题 （简述并附详细资料）</h3>
                建站目的：
                <textarea name="p-site_purpose"  cols="30" rows="10" placeholder="建站目的：" lay-verify="required"></textarea>
                需要解决的重点问题：
                <textarea name="p-key_issue"  cols="30" rows="10" placeholder="需要解决的重点问题：" lay-verify="required"></textarea>
            </div>

            <div>
                <h3 class="zp-bfinput" style="width: 100%;font-size: 16px;text-align: left;padding-left: 30px;margin-top: 10px;">
                    为院士及其团队提供工作设施和生活条件情况
                </h3>
                <textarea name="p-living_condition"   cols="30" rows="10" placeholder="" lay-verify="required"></textarea>
            </div>

        </div>

        <div id="part2">
            <div class="zp-title">
                <strong>
                    【二、进入工作站院士基本情况（如有多位院士，可填写多份）】
                </strong>
            </div>

            <div id="view"></div>
            <!--academician-->
            <script id="multipleID" type="text/html">

                {{# layui.each(d.academician, function (index, d) { }}

                <div style="text-align: left" class="add_academician_elem">
                    <input type="hidden" name="ac-id" value="{{d.id1}}">
                    <input type="hidden" name="ac_aoo-id" value="{{d.id2}}">
                    <div class="zp-bfinput" style="width: 100%;font-size: 22px;text-align: center;">
                        当前是第<span class="number_academician">1</span>份院士基本情况
                        <button class="delete_academician layui-btn layui-btn-danger layui-btn-sm" style="position: absolute;right: 80px;" type="button">
                            删除当前院士基本情况
                        </button>
                    </div>
                    <div>
                        <span class="c1">院士姓名</span><input name="ac-name" value="{{d.name}}" type="text" class="clong2 zp-input" lay-verify="required">
                        <span class="c1">出生日期</span><input name="ac-birthday" value="{{d.birthday}}" type="number" class="c4 zp-input" lay-verify="required">
                    </div>
                    <div>
                        <span class="c1">学科领域</span><input name="ac-tech_area" value="{{d.tech_area}}" type="text" class="clong2 zp-input" lay-verify="required">
                        <span class="c1">邮箱地址</span><input name="ac-email" value="{{d.email}}" type="text" class="c4 zp-input" lay-verify="required">
                    </div>
                    <div>
                        <span class="c1">院士联系电话</span><input name="ac-phone" value="{{d.phone}}" type="number" class="clong2 zp-input" lay-verify="phone|required">
                        <span class="c1">传真</span><input name="ac-fax" value="{{d.fax}}" type="text" class="c4 zp-input" lay-verify="required">
                    </div>
                    <div>
                        <span class="c1">工作单位</span><input name="ac-firm_name" value="{{d.firm_name}}" type="text" class="clong2 zp-input" lay-verify="required">
                        <span class="c1">是否是驻湘院士</span>
                        <select  name="ac-enter"  class="c4" lay-ignore  lay-verify="required">
                            <option value="{{d.enter}}">{{d.enter}}</option>
                            <option value="是">是</option>
                            <option value="否">否</option>
                        </select>
                    </div>
                    <div>
                        <span class="c1" style="">是中国工程院还是中国科学院院士</span>
                        <select  name="ac-come_from" class="clong2" lay-ignore  lay-verify="required">
                            <option value="{{d.come_from}}">{{d.come_from}}</option>
                            <option value="中国工程院">中国工程院</option>
                            <option value="中国科学院院士">中国科学院院士</option>
                        </select>
                    </div>

                    <div>
                        <h3 class="zp-bfinput" style="width: 100%;font-size: 16px;text-align: left;padding-left: 30px;margin-top: 10px;">
                            院士与企业合作项目情况
                        </h3>
                        <div>
                            <span class="c1">项目名称</span>
                            <input name="ac_aoo-project_name" value="{{d.project_name}}" type="text" class="clong2 zp-input" lay-verify="required">
                        </div>
                        <div>
                            <span class="c1">项目合作起止时间</span>
                            <input name="ac_aoo-start" value="{{d.start}}"  type="number" class="lay-Date zp-input" style="width: 95px;" placeholder="开始时间" lay-verify="required">
                            <input name="ac_aoo-end" value="{{d.end}}"  type="number" class="lay-Date zp-input" style="width: 95px;" placeholder="结束时间" lay-verify="required">
                            <span class="c1">销售收入（万元）</span>
                            <input name="ac_aoo-sale_revenue" id="sale_revenue" value="{{d.sale_revenue / 1e6}}"  type="number" class="c4 zp-input" lay-verify="required">
                        </div>
                        <div>
                            <span class="c1">利税（万元）</span>
                            <input name="ac_aoo-loan" id="loan" value="{{d.loan / 1e6}}"  type="number" class="clong2 zp-input" lay-verify="required">
                            <span class="c1">新增就业</span>
                            <input name="ac_aoo-new_employment" value="{{d.new_employment}}"  type="text" class="c4 zp-input" lay-verify="required">
                        </div>
                    </div>
                    <div>
                        <h3 class="zp-bfinput" style="width: 100%;font-size: 16px;text-align: left;padding-left: 30px;margin-top: 10px;">
                            申报专利或品种审定
                        </h3>
                        <textarea name="ac_aoo-patent_or_variety"   cols="30" rows="10" placeholder="" lay-verify="required">{{d.patent_or_variety}}</textarea>
                    </div>
                    <div>
                        <h3 class="zp-bfinput" style="width: 100%;font-size: 16px;text-align: left;padding-left: 30px;margin-top: 10px;">
                            经费投入情况
                        </h3>
                        <textarea name="ac_aoo-invest_fund"  cols="30" rows="10" placeholder="" lay-verify="required">{{d.invest_fund}}</textarea>
                    </div>
                    <div style="margin-bottom: 30px;">
                        <h3 class="zp-bfinput" style="width: 100%;font-size: 16px;text-align: left;padding-left: 30px;margin-top: 10px;">
                            研究重点和经济、社会效益分析
                        </h3>
                        <textarea name="ac_aoo-benefit_analysis"  cols="30" rows="10" placeholder="" lay-verify="required">{{d.benefit_analysis}}</textarea>
                    </div>

                </div>

                {{# }); }}
            </script>


        </div>


        <button type="button" class="btn-dashed" id="add_academician_btn" data-tooltip="如有多位院士，可填写多份">
            新增一份"进入工作站院士基本情况"
        </button>


        <div id="part3">
            <div class="zp-title">
                <strong>
                    【三、进入工作站院士团队基本情况】
                </strong>
            </div>
            <div style="text-align: center">
                <div id="view2"></div>
                <script id="multipleID2" type="text/html">
                    <table>
                        <thead>
                        <tr>
                            <th width="50px">姓名</th>
                            <th width="80px">单位</th>
                            <th width="80px">职称\职务</th>
                            <th width="80px">联系电话</th>
                            <th width="210px">专长、研究成果应用及获奖情况</th>
                            <th width="130px">哪年开始与企业合作</th>
                            <th width="">操作</th>
                        </tr>
                        </thead>

                        <tbody id="append_team_position">

                        {{# layui.each(d.academicianTeamSituation, function (index, d) { }}
                        <tr class="add_team_tr">
                            <td hidden><span>{{d.id}}</span></td>
                            <td><input type="text" style="width: 50px;" name="situation-name" value="{{d.name}}" lay-verify="required"></td>
                            <td><input type="text" style="width: 80px;" name="situation-firm_name" value="{{d.firm_name}}" lay-verify="required"></td>
                            <td><input type="text" style="width: 80px;" name="situation-title" value="{{d.title}}" lay-verify="required"></td>
                            <td><input type="number" style="width: 100px;" name="situation-phone" value="{{d.phone}}" lay-verify="phone|required"></td>
                            <td><input type="text" style="width: 200px;" name="situation-effort" value="{{d.effort}}" lay-verify="required"></td>
                            <td><input type="text" style="width: 120px;" name="situation-start_time" value="{{d.start_time}}" class="lay-DateY" lay-verify="number4|required"></td>
                            <td>
                                <button type="button" class="btn btn-delete delete_team_tr" >删除</button>
                            </td>
                        </tr>
                        {{# }); }}
                        </tbody>
                    </table>


                </script>
                <button type="button" class="btn-dashed" id="add_team_btn">新增一行</button>
            </div>
        </div>

        <div style="text-align: center">
            <button lay-submit lay-filter="save" class="button">保存</button>
        </div>


        <div id="fileUpload" >
            <div class="zp-title"><strong>【上传附件】</strong></div>
            <div style="background-color: #F2F2F2;">
                <strong>提示:</strong>
                <span style="color: red">
                文件名xx.xx，建议不要使用类似xx.xx.xx的格式，
                单个附件一定不能超过20MB,
                多个文件请尽量压缩后再上传！
                </span>
            </div>


            <div class="wrapper">
                <div style="padding: 20px" >
                    <strong data-tooltip="这是之前已经上传过的文件" title="123">↓ 已上传文件 ↓</strong>
                    <div class="layui-upload-list" >
                        <table class="layui-table" >
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="demoList"></tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div  class="layui-upload" style="padding: 20px;margin-top: -30px;" >
                <div id="upload" >
                    <strong data-tooltip="选择你想上传的新文件">↓ 新上传文件 ↓</strong>
                    <form class="layui-form" method="post" enctype="multipart/form-data">

                        <input type="hidden" name="key"  >
                        <input type="hidden" name="token" >

                        <table class="layui-table" >
                            <thead>
                            <tr style="border: 1px solid #000;" data-tooltip="新上传文件">
                                <th>文件名</th>
                                <th>大小</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="list"></tbody>
                        </table>
                        <input type="file"  style="width: 75px" name="file" id="qnfile" >
                        <button type="button"  class="layui-btn" id="qnsubmit"><i class="layui-icon">&#xe67c;</i>上传</button>
                    </form>
                </div>


                <p style="margin-top: 30px">
                <blockquote class="layui-elem-quote">
                    提交前请确认需上传的文件<span style="color:#F22;">是否已上传</span>，暂存后可以修改，一旦提交需退回才可修改
                </blockquote>
                </p>
            </div>


        </div>




    </form>




</div>


<script>
    layui.use(['apply_global', 'render', 'form', 'laytpl', 'verify', 'workstation',
        'fileUpload', 'modifyPageFile'
    ], function(){
        let $ = layui.$;
        let laytpl = layui.laytpl;
        let form = layui.form;
        let layer = layui.layer;
        let setter = layui.setter;
        form.render();
        let render = layui.render;
        render.Render();
        let workstation = layui.workstation;
        workstation.Render();
        let fileUpload = layui.fileUpload;
        fileUpload.Render();
        let modifyPageFile = layui.modifyPageFile;
        modifyPageFile.Render();


        /**
         *    render_modify_page
         */
        let projectId = layui.data(setter.tableName).projectId;

        layer.load();
        console.log(`url: /mytio/user/project/look?projectId=${projectId}`);


        let renderData = {};
        $.ajax({
            url: `/mytio/user/project/look?projectId=${projectId}`,
            type: "GET",
            dataType: "json",
            async: false,
            success(data) {
                console.log("修改页面获取的数据", data);
                if (!data.ok) {
                    layer.alert("获取初始数据失败");
                } else {
                    // workstation.render_modify_page(data.data);
                    // render_multiple(data.data);
                    renderData = data.data;
                }
            },
            error() {
                layer.alert("获取修改查看页面初始数据失败");
            },
            complete() {
                layer.closeAll("loading");
            }
        });



        let time = setInterval(()=>{
            console.log('renderSelect');
            workstation.render_modify_page(renderData);
            render_multiple(renderData);

            if (!!$('#classname').length) {
                clearInterval(time)
            }
        },200);
        setTimeout(()=>{
            clearInterval(time);
        },10*1000);



        /**
         *  render_multiple
         */
        function remove_columns(d) {
            return d;
        }

        // render_multiple(renderData.data);
        function render_multiple(m) {
            console.log("render_multiple",m);
            if (!m) return;

            let academician = remove_columns(m.academician);
            let academicianCooperationProject = remove_columns(m.academicianCooperationProject);
            let academicianTeamSituation = remove_columns(m.academicianTeamSituation);


            for (let i = 0; i < academicianCooperationProject.length; i++) {
                academician[i].id1 = academician[i].id;
                academician[i].id2 = academicianCooperationProject[i].id;
                for (let d in academicianCooperationProject[i]) {
                    academician[i][d] = academicianCooperationProject[i][d];
                }
            }



            let data = {
                academician,
                academicianTeamSituation
            };
            // console.log("render_multiple_data", data);


            laytpl(multipleID.innerHTML).render(data, function(html) {
                document.getElementById("view").innerHTML = html;
            });
            laytpl(multipleID2.innerHTML).render(data, function(html) {
                document.getElementById("view2").innerHTML = html;
            });


            for (let i = 0; i < $(".number_academician").length; i++) {
                $(".number_academician").eq(i).text(i+1);
            }
        }



    });

</script>
